<html>
    <head>
        <script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>
    </head>
<body>
<div id="logreg-forms">
  <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
      <div class="social-login">
          <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
          <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
      </div>

      <p style="text-align:center"> OR </p>
      <input type="email" id="inputEmail" class="form-control" name="email" [(ngModel)]="name" placeholder="Email address" required="" autofocus="">
      <input type="password" id="inputPassword" class="form-control" name="passowrd" [(ngModel)]="password" placeholder="Password" required="">

      <button class="btn btn-success btn-block" type="submit" (click)="login()"><i class="fas fa-sign-in-alt"></i> Sign in</button>
      <a href="#" id="forgot_pswd">Forgot password?</a>
      <hr>
       <!-- <p>Don't have an account!</p>  -->
       <button class="btn btn-primary btn-block" type="button" id="btn-signup" (click)="jQuery()"><i class="fas fa-user-plus"></i> Sign up New Account</button>
    </form>

    <form action="/reset/password/" class="form-reset">
        <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
        <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
    </form>

    <form action="/signup/" class="form-signup">
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
        </div>
        <div class="social-login">
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
        </div>

        <p style="text-align:center">OR</p>
        <div class="checkbox_company">
            <input type="checkbox" checked="checked" class="radio" name="fooby[1][]" id="individual_user_checkbox"> <label for="individual_user_checkbox"> Individual</label>
            <input type="checkbox" class="radio" name="fooby[1][]" id="company_checkbox" class=""> <label for="company_checkbox">Company</label>
        </div>
        <div class="">
            <input type="text" id="user-name" class="form-control" placeholder="Full Name" required="" autofocus="">
            <input type="email" id="user-email" name="user-email" [(ngModel)]="emailSignUp" class="form-control" placeholder="Email Address" required autofocus="">
            <input type="text" class="form-control" placeholder="City" required autofocus="">
            <input type="password" id="user-pass" [(ngModel)]="passwordSignUp" name="passwordSignUp" class="form-control" placeholder="Password" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">
        </div>
        <button class="btn btn-primary btn-block" type="submit" (click)="signUp()"><i class="fas fa-user-plus"></i> Sign Up</button>
        <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
    </form>
    <br>

</div>
</body>

</html>